#login {
  display: flex;
  align-items: center;
  justify-content: center;
}
#login form {
  width: calc(100% - 32px);
  max-width: 548px;
  height: 308px;
  background-color: var(--surface-color);
  padding: 16px 24px;
  border-radius: 8px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.06), 0px 12px 18px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}