#university {
  width: 100%;
  max-width: 580px;
  list-style-type: none;
  padding: 16px 32px;
  background-color: var(--surface-color);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.06), 0px 12px 18px rgba(0, 0, 0, 0.1);
  color: var(--text-high-color);
}
#university header {
  display: flex;
  margin-bottom: 16px;
  gap: 16px;

}
#university header menu {
  display: flex;
  gap: 24px;
  margin-left: auto;
  color: var(--grey-color);
}

#university h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
}

#university span, #university p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}