* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
}

:root {
  --primary-color: #2991E0;
  --primary-on-color: white;
  --background-color: #F7F9FC;
  --surface-color: white;
  --text-color: #636C7E;
  --text-high-color: #1B1D22;
  --input-border-color: #DEDFE3;
  --grey-color: #9196A1;
  --yellow-color: #FFC233;
}

